<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- CALL_PHONE avec uses-feature required=false pour eviter l'erreur -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SupervisionLivraison"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.controleur.ControleurActivity" android:exported="false"/>
        <activity android:name=".ui.controleur.DetailLivraisonActivity" android:exported="false"/>

        <activity android:name=".ui.livreur.LivreurActivity"
            android:exported="false"
            android:theme="@style/Theme.SupervisionLivraison.Green"/>
        <activity android:name=".ui.livreur.DetailLivraisonLivreurActivity"
            android:exported="false"
            android:theme="@style/Theme.SupervisionLivraison.Green"/>
        <activity android:name=".ui.livreur.ModifierLivraisonActivity"
            android:exported="false"
            android:theme="@style/Theme.SupervisionLivraison.Green"/>

    </application>
</manifest>